extends layout

block content
	div.box
		div.item
			div(site-id="1").box-canvas.order-all
				<h2>stylewe.com</h2>
				span
			div(site-id="2").box-canvas.order-all
				<h2>justfashionnow.com</h2>
				span
	div.box
		div.item
			div(site-id="3").box-canvas.order-all
				<h2>popjulia.com</h2>
				span
			div(site-id="0").box-canvas.order-all
				<h2>total</h2>
				span
