extends layout

block content
	div.box
		div.item
			div(site-id="1").box-canvas.order-all
				span
			div(site-id="1").box-canvas.gauge
	div.box
		div.item
			div(site-id="2").box-canvas.order-all
				span
			div(site-id="2").box-canvas.gauge
	div.box
		div.item
			div(site-id="3").box-canvas.order-all
				span
			div(site-id="3").box-canvas.gauge
	div.box
		div.item
			div(site-id="0").box-canvas.order-all
				span
			div(site-id="0").box-canvas.gauge
