html {
  position: relative;
  height: 100%;
}
body{
	min-height: 100%;
}
*{
	box-sizing: border-box;
}
.box-top{
  overflow: hidden;
}
.box-top .item{
  width: 33.3%;
  float: left;
  border: 1px solid #ccc;
}
.box-top .item .box-canvas{
  height: 150px;
}
.box-top .item  .gauge{
  height: 270px;

}
.box-top .item .box-canvas span,.box .item .box-canvas span{
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  display: block;
  line-height: 200px;
  border-bottom: 1px solid #ccc;
}


.box .item{
  overflow: hidden;
}

.box .item .box-canvas{
  border: 1px solid #ccc;
  width: 50%;
  float: left;
}
.box .item .box-canvas h2{
  font-size: 36px;
  text-align: center;
}
.box .item .box-canvas{
  height: 270px;
}
